################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Memory/.vs/Memory/FileContentIndex
/Memory/.vs/Memory/v17
/Memory/Debug
/Memory/x64/Debug/Memory.tlog
/Memory/x64/Debug
